@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Colors */
:root {
  --primary-color: #4EEAF6;
  --second-color: #ff00ff;
  --title-color: #f6f6f6;
  --text-color: #0d0d0d;
  --highligth-color: #7D00FF;

/* Fonts */
  --primary-font: "Audiowide", sans-serif;
  --second-font: "IBM Plex Mono", sans-serif;
  --title-h1: "Orbitron" sans-serif;
  --text-1: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f7f7f7;
}

body {
  background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
  height: 100vh;
  display: flex;
  flex-direction: column; /* Garante que os itens vão se empilhar */
  min-height: 100vh; /* Faz o body ocupar toda a altura da tela */
  align-items: center;
  justify-content: center;
  position: relative;
}

body::before {
  background-image: url('https://i.postimg.cc/XYpV918C/capa-linkedin.webp');
  background-size: cover;
  background-position: center; 
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  top: 0; 
  left: 0;
}

.menu {
  position: fixed; /* Fixa o menu no topo */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Fundo semitransparente */
  padding: 10px 0;
  z-index: 1000; /* Garante que o menu fique acima de tudo */
}

.menu nav {
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-family: var(--primary-font);
  transition: color 0.3s ease-in-out;
}

.menu ul li a:hover {
  color: var(--second-color);
}

.video-overlay {
    position: absolute;
    background-size: cover;
    background-position: center; 
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    width: 100%; /* Ajuste conforme necessário */
    border-radius: 10px; /* Opcional, só para estilo */
    z-index: 2; /* Garante que ele fique acima do fundo */
    animation: fadeInOut 6s infinite ease-in-out;
    filter: blur(2px); /* Adiciona um leve desfoque */
  }

h1 {
  position: absolute;
  top: calc(50% + 280px); /* Empurra um pouco para baixo */
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--second-font);
  font-size: 4rem;
  text-align: center;
  width: 80%;
  color: var(--title-color);
  z-index: 1001; /* Garante que fique acima do menu */
}

.container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: auto;
  gap: 10%;
  justify-content: space-between;
  margin: 5% 15%;
  font-family: var(--second-font);
  width: 90%;
}

.container-text {
  width: 120%;
  padding: 3%;
  text-align: justify;
  line-height: 1.55;
  color: var(--primary-color);
}

strong {
  color: var(--second-color);
}

.strong2 {
  color: var(--highligth-color);
}

.container-image {
  border-radius: 10%;
  max-width: 80%; 
  width: 35%;
  margin-left: 10%;
  object-fit: cover; /* Faz com que as imagens se ajustem ao tamanho da caixa */
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3%;
  place-items: center;
  position: relative;
}

.grid-gallery img {
  width: 80%;
  max-width: 80%;
  border-radius: 10px;
  gap: 1%;
  transform: rotate(var(--rotate));
  transition: transform 0.3s ease-in-out;
}

.grid-gallery img:nth-child(1) { --rotate: -10deg; }
.grid-gallery img:nth-child(3) { --rotate: 5deg; }
.grid-gallery img:nth-child(5) { --rotate: -5deg; }
.grid-gallery img:nth-child(2) { --rotate: 15deg; }
.grid-gallery img:nth-child(4) { --rotate: -5deg; }
.grid-gallery img:nth-child(6) { --rotate: -10deg; }

.grid-gallery img:hover {
  transform: rotate(0deg) scale(1.1);
}

footer {
  font-family: var(--primary-font);
  z-index: 10;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  font-size: 0.6rem;
  color: var(--text-color);
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
}